{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="about-us">
        <h1>Привіт!</h1>
        <p>Ми раді вітати тебе на нашому сайті, створеному спеціально для юних талантів та їх творчого розвитку!</p>

        <h2>Хто ми?</h2>
        <p>Ми – команда людей, які вірять, що кожна дитина має унікальні здібності та креативний потенціал. Наш проєкт створений, щоб допомогти дітям до 16 років розвивати свої таланти, брати участь у творчих конкурсах та знаходити однодумців.</p>

        <h2>Що ми пропонуємо?</h2>
        <p>Кожного місяця ми проводимо конкурси малюнків на різні теми, щоб кожен учасник міг проявити себе у різних жанрах та стилях. Все, що потрібно для участі – зареєструватися на сайті, завантажити свою роботу та чекати на результати!</p>

        <h2>Наші цінності</h2>
        <ul>
            <li><strong>Творчість:</strong> Ми підтримуємо будь-які форми творчого вираження.</li>
            <li><strong>Розвиток:</strong> Наш проєкт допомагає дітям покращувати свої навички та відкривати нові горизонти.</li>
            <li><strong>Спільнота:</strong> Ми об'єднуємо юних художників, щоб вони могли спілкуватися та надихатися один одним.</li>
        </ul>

        <h2>Приєднуйся до нас!</h2>
        <p>Наш сайт – це місце, де ти можеш проявити свій талант, отримати натхнення та знайти нових друзів. Ми віримо в тебе та твій талант!</p>
    </div>
{% endblock %}
