{% extends 'main/layout.html' %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="contacts">
        <h1>Зв'яжіться з нами</h1>
        <p>Ми завжди раді відповісти на ваші запитання або вислухати ваші пропозиції. Зв'яжіться з нами через контактну інформацію нижче або заповніть форму, щоб надіслати повідомлення.</p>

        <h2>Контактна інформація</h2>
        <ul>
            <li><strong>Адреса:</strong> м. Київ, вул. Мистецтв, 10</li>
            <li><strong>Телефон:</strong> +380 123 456 789</li>
            <li><strong>Email:</strong> info@artiscool.com</li>
        </ul>

        <h2>Форма зворотного зв'язку</h2>
        <form>
            <div class="form-group">
                <label for="name">Ім'я</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="message">Повідомлення</label>
                <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
            </div>
            <button type="button" class="btn btn-primary">Надіслати</button>
        </form>
    </div>
{% endblock %}
