{% extends 'main/layout.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="features">
    <h1>Ласкаво просимо до світу творчості!</h1>
    <p>Хочеш показати свій талант і взяти участь у захопливому конкурсі малюнків? Ми запрошуємо дітей до 16 років приєднатися до нашого творчого простору! Кожен місяць у нас проходять конкурси, де ти зможеш продемонструвати свої художні здібності, отримати натхнення та позмагатися з однолітками.</p>
    <h2>Як взяти участь? Все просто!</h2>
    <li>Зареєструйся на нашому сайті, заповнивши просту форму.</li>
    <li>Надішли свій малюнок на тему місяця.</li>
    <p>Чекаємо на твої роботи та бажаємо успіху! Переможці отримують спеціальні відзнаки, призи та шанс побачити свої роботи на головній сторінці сайту.</p>
    <button class="bth bth-warning">Взяти участь</button>
</div>
{% endblock %}